/* 
canvas{
    background-image: url(/docs/assets/images/background\ Game.jpg);
    background-position-y: -360vh;
    background-repeat: no-repeat;
    background-size:  170vh;
    
} */


body{
    background-image: url(/docs/assets/images/2352.jpg) ;
    background-size: 250vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
} 

.button {
    width: 200px;
    height: 50px;
    line-height: 50px;
    
    color: #FFF;
    text-decoration: none;
    background: linear-gradient(#1879BD 50%, #084D79 50%);
    text-align: center;
    font-size: 35px;
    font-family: sans-serif;
    border-radius: 5vh;
}
.button:hover {                 
    background: linear-gradient(#d16416 50%, #da1010 50%);
}
.button:active {
    background: linear-gradient(#678834 50%, #093905 50%);
}
/* 
#canvas{
    position: absolute;
    left: 50%;
    top: 50%;
}
 */

 /* .instructions {
    width: 200px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    left: 100vh;
    top: 100vh;
    color: #FFF;
    text-decoration: none;
    background: linear-gradient(#1879BD 50%, #084D79 50%);
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    border-radius: 5vh;
}
.instructions:hover {                 
    background: linear-gradient(#d16416 50%, #da1010 50%);
}
.instructions:active {
    background: linear-gradient(#678834 50%, #093905 50%);
}

 */

#game-intro,
#game-board {
  width: 1280px;
  height: 720px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

#game-intro,
#game-board {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-intro {
    z-index: 1;
}

#dificulty{
    width: 1280px;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}



button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}







#retry{
    display: none;
}