body{
    background-image: url(https://avatars.mds.yandex.net/get-images-cbir/1658049/Qt_uDtuDuTBjgcdm4APS4A815/ocr) ;
    background-size: 250vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
} 

.button {
    width: 200px;
    height: 50px;
    line-height: 50px;
    
    color: #FFF;
    text-decoration: none;
    background: linear-gradient(#1879BD 50%, #084D79 50%);
    text-align: center;
    font-size: 35px;
    font-family: sans-serif;
    border-radius: 5vh;
}
.button:hover {                 
    background: linear-gradient(#d16416 50%, #da1010 50%);
}
.button:active {
    background: linear-gradient(#678834 50%, #093905 50%);
}


#game-intro,
#game-board {
  width: 1280px;
  height: 720px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

#game-intro,
#game-board {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-intro {
    z-index: 1;
    flex-direction: column;
    justify-content: center;
}

#instructions{
    margin-top: 36px;
}


#dificulty{
    width: 1280px;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;

}

#easy{
    margin-top: 36px
}

#players{
    width: 1280px;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

#back {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}



button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.multiplayer {
    width: 200px;
    height: 50px;
    line-height: 50px;
    
    color: #FFF;
    text-decoration: none;
    background: linear-gradient(#1879BD 50%, #084D79 50%);
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    border-radius: 5vh;
}
.multiplayer:hover {                 
    background: linear-gradient(#d16416 50%, #da1010 50%);
}
.multiplayer:active {
    background: linear-gradient(#678834 50%, #093905 50%);
}




#retry{
    display: none;
}



.hidden {
    visibility: hidden;
}

#video{
    width: 720px;
    height: 576px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#return{
    z-index: 1;
    margin-top: 36px
    

}

/* #menu{
    z-index: 1;
}  */